/* Variables */

:root {
	--basic-black: #000000;
	--basic-gray: #A6A6A6;
	--background-gray: #888888;
	--basic-white: #FFFFFF;
	--basic-red: #FB565A;
	--basic-yellow: #EFC849;
	--basic-green: #00CA74;
	--medium-gray: #666666;
	;
	--basic-dark-gray: #444444;
	--gradient: 0deg, #E1E1E1, #E1E1E1;
	--basic-light-gray: #283136;
	--basic-background-shade-gray: #EEEEEE;
	--special-grey-hover:#DFDFDF;
	--special-grey-push: #D5D5D5;
	--special-red-activ: #E74246;
	--special-red-push: #D7373B;
	--special-yellow-activ: #EAB534;
	--special-yellow-push: #E5A722;
	--special-green-activ: #00BC6C;
	--special-green-push: #00AA62;
}

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white); 
	
}

a {
	text-decoration: none;
	color: var(--basic-black);
	
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}


.main-header {
	background-color: var(--basic-background-shade-gray);
	
}

.page-catalog{
	
}


.container{
	margin: 0 auto;
	padding: 0;
	width: 1160px;
	display: grid;
	grid-template-columns:400px 760px;
	outline: 5px solid black;
	outline-offset: -5px;
}



.page-title{
	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color:var(--basic-black);
	background-color:var(--basic-background-shade-gray);
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 100px;
	padding-bottom: 100px;

}

/*filtres*/

.filters{
	outline: 5px solid rgba(0, 255, 255, 0.7);
	outline-offset: -5px;
	padding-top: 55px;
}



/*  ne kroshki*/

.sort{
	outline: 5px solid rgba(0, 0, 255, 0.7);
	outline-offset: -5px;
	display: flex;
	justify-content: space-between;
	width: 760px;
	padding-bottom: 55px;
}



.sort-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
	
}
.sort-title{
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.sort-item{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;	
}


.sort-item a{
	display: block;
	padding: 25px 20px;
	color:var(--basic-black);
	opacity: 0.3;
}

.sort-item a:hover{
	opacity: 0.6;
	
}

/*.sort-current a:{

	color:var(--basic-black);
}
*/


/*Каталог*/


.catalog {

	outline: 5px solid rgba(255, 0, 255, 0.7);
	outline-offset: -5px;
	padding-top: 55px;
}

.catalog-list {

	list-style:none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}


.catalog-item{
	width: 360px;
	min-height: 620px;
	margin-right: 40px;
	margin-bottom: 30px;
	background-color:var(--basic-white);
	color:var(--medium-gray);
}


.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-item h3:hover{
	color:var(--basic-red);
}

.catalog-item h3:active{
	color: var(--basic-black);
	opacity: 0.3;
}

/**/catalog-item-price/**/{
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}

.button-price{
	color:var(--basic-white);
	background-color: var(--basic-red);
	border: none;
	outline: none !important;
}

.button-price:hover{
	background-color:var(--special-red-activ); 
}

.button-price:active{
	background-color:var(--special-red-push);
}



/**/

.filtres{
	outline-offset: -5px;
	outline: 5px solid rgba(255, 0, 255, 0.7);
}
.pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	color: var(--basic-black);
	list-style: none;
	
	
}

.pagination{
	outline-offset: -5px;
	outline: 5px solid green;
	padding-bottom: 54px;
	padding-top: 54px;
	
}

.pagination-item{

	padding-right:10px;
}
.pagination-item a {
	display: block;
	padding: 25px 25px;
	background-color: var(--basic-background-shade-gray);
}

.pagination-item a:hover{
	background-color:var(--special-grey-hover);
}

.pagination-item a:active{
	background:var(--special-grey-push);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	opacity:0.3;

}

.pagination-item a:focus{
	background-color:rgba(0, 0, 0, 0.0001);
	border: 3px solid #DBDBDB;
	box-sizing: border-box;

}

.pagination-button{

	width: 260px;
	height: 50px;
	text-transform: uppercase;
	text-align:center;
	
}

.pagination-button a{
	
	display: block;
	padding:25px 25px;
	background-color: var(--basic-background-shade-gray);
}

.pagination-button a:hover{
	background-color:var(--special-grey-hover);

}
.pagination-button a:active{
	background:var(--special-grey-push);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	opacity:0.3;

}

.pagination-button a:focus{
	background-color:rgba(0, 0, 0, 0.0001);
	border: 3px solid #DBDBDB;
	box-sizing: border-box;

}





.button-default {
	color:var(--basic-white);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	border: none;
}


.main-navigation {
	display: grid;
	grid-template-columns:1fr 2fr min-content;
	width:1160px;
	margin: 0 auto;
	padding-top:30px;
	align-items:center;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--basic-background-shade-gray);
}


.center{

}


.main-header-logo{
	opacity: 1;
}


.main-header-logo :hover{
	opacity: 1;

}

.main-header-logo :active{
	opacity: 0.1;
}


.site-navigation {
	display: flex;
	flex-wrap: wrap;
	color:var(--basic-black);
	list-style: none;
	margin: 0;
	padding: 0;
}


.site-navigation a,
.user_nav a {
	display: block;
	/*мне небходимо создать внутренний отступ*/
	padding: 0px 20px;
}

.cart-link {
	text-align: right;
	align-items: center;
	color: var(--basic-black);
}

.site-navigation a:hover{
	color:var(--special-red-activ);

}
.site-navigation a:active{
	color:var(--basic-black); 
	opacity: 0.3;


}
.cart-link:hover{
	color:var(--special-red-activ);

}
.cart-link:active {
	color: var(--basic-black);
	opacity: 0.3;

}


/* слайдер*/

.sliders {
	background-color: var(--basic-background-shade-gray);

}

.sliders a {}

.slider-item {
	font-size: 16px;
	line-height: 24px;
}

.slider-item h1 {
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
}

.sliders-list {
	width:1160px;
	margin: 0px auto;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.sliders-list li{
	display: flex;
	align-items: center;

}



.sliders-list img {

}

.button-sliders {
	background: var(--basic-red);
}

.button-sliders:hover{
	background-color:var(--special-red-activ);

}

.button-sliders:active{
	background-color:var(--special-red-push);
	box-shadow: inset 0px 3px 0px; 
	color:rgba(0, 1, 1, 0.1);

}

/* сервис */

.services {


}

.services a {}

.services h3 {
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
}
.services-list{
	width:1160px;
	display: grid;
	text-align: left;
	grid-template-columns: 300px 300px 300px; 
	column-gap: 100px;
	margin: 0 auto;
	padding: 0;
	padding-top: 80px;
	padding-bottom: 80px;

	list-style: none;

}
.services-item {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.services img {

}

.button-web {
	background-color:var(--basic-red);
}

.button-web:hover {
	background-color: var(--special-red-activ);
}

.button-web:active {
	background-color: var(--special-red-push);
	box-shadow: inset 0px 3px 0px;
	color: rgba(0, 1, 1, 0.1);


}

.button-app {
	background-color: var(--basic-green);

}

.button-app:hover {
	background-color: var(--special-green-activ);
}

.button-app:active {
	background-color: var(--special-green-push);
	box-shadow: inset 0px 3px 0px;
	color:rgba(0, 1, 1, 0.1);


}

.button-pitch {
	background-color: var(--basic-yellow);
}

.button-pitch:hover {
	background-color: var(--special-yellow-activ);
}

.button-pitch:active {
	background-color: var(--special-yellow-push);
	box-shadow: inset 0px 3px 0px;
	color:rgba(0, 1, 1, 0.1);


}

/*about*/

.about {
	display: grid;
	grid-template-columns: 660px 360px; /*660px 360px*/
	grid-gap:140px;
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	padding-top: 80px;
	padding-bottom: 80px;


}

.about_1{}

.about_2{}

.about-know{}


.about-item {
	font-size: 16px;
	line-height: 24px;
	list-style: none;
}

.about-precision{
	display: flex;
	margin: 0;
	padding: 0;
}

.about-item-percent {
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
	font-weight: bold;
}

.about-item-percent .sup {
	font-size: 26px;
}

.about h4 {
	font-size: 16px;
	line-height: 24px;
}

.about h3 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}


/*company*/

.company {


}
.company-list{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr; /*400px 400px 400px;*/
	column-gap: 100px;
	width: 1160px;
	text-align:center;
	margin: 0 auto;
	padding: 0;
	padding-top: 80px;
	padding-bottom: 80px; 
	list-style: none;
}
.company-item{}

.company-content {
	opacity: 0.2;
}

.company-content:hover {
	opacity: 1;
}

.company-content:active {
	opacity: 0.1;
}


/* подвал*/

.main-footer{


	margin: 0 auto;
	padding-top: 40px;

}

.main-footer img {}

.benefit{
	margin: 0;
	width: 560px;

}
.media{
	width:1160px;
	display:grid;
	grid-template-columns:260px 560px;/*260px 560px*/
	grid-gap:140px; 
	padding-top: 65px;
	padding-bottom: 65px;

}

.contacts {
	width: 1160px;
	height: 416px;
	position: relative;


}

.contacts img{
	width: 1440px;
	height: 416px;
}
.contacts a {}


/*padding-left для текста?*/
.contacts-info{  

	position: absolute;
	top:54px;
	left:140px;
	width:319px;
	height:308px;
	font-size: 16px;
	line-height: 18px;
	color: var(--medium-gray);
	background-color: var(--basic-white);
}
.contacts-info h3{

	padding-top:50px;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}

.address{

}


.address a {

	color: var(--medium-gray);
}

.span{

	font-size: 36px;
	line-height: 36px;
	color:var(--basic-black);
}


.button-contacts {
	color: var(--basic-white);
	background-color: var(--basic-red);
}
.button-contacts:hover {
	background-color: var(--special-red-activ);
}
.button-contacts:active {
	background-color: var(--special-red-push);
}

.footer-list {  /*еще не загружала никаких иконок*/
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	color:var(--medium-gray);
}

.footer-social{
	margin: 0 auto;
	width: 260px;
}
/* Social button */
.social-button a {}

.social-button{
	background:linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;

}

.social-button:hover {
	background-color:var(--special-red-activ);
}
.social-button:active {
	background-color:var(--special-red-push);

}