/* Variables */

:root {
	--basic-black: #000000;
	--basic-gray: #A6A6A6;
	--background-gray: #888888;
	--basic-white: #FFFFFF;
	--basic-red: #FB565A;
	--basic-yellow: #EFC849;
	--basic-green: #00CA74;
	--medium-gray: #666666;
	;
	--basic-dark-gray: #444444;
	--gradient: 0deg, #E1E1E1, #E1E1E1;
	--basic-light-gray: #283136;
	--basic-background-shade-gray: #EEEEEE;
	--special-grey-hover: #DFDFDF;
	--special-grey-push: #D5D5D5;
	--special-red-activ: #E74246;
	--special-red-push: #D7373B;
	--special-yellow-activ: #EAB534;
	--special-yellow-push: #E5A722;
	--special-green-activ: #00BC6C;
	--special-green-push: #00AA62;
	--special-modal-grey: #B4B9BB;
	--special-modal-white: #D7DCDE;
}

body {
	
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header {
	background-color: var(--basic-background-shade-gray);
}

.page-catalog {}

.container {
	margin: 0 auto;
	padding: 0;
	width: 1160px;
	display: grid;
	grid-template-columns: 400px 760px;
	
}

.page-title {
	
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	background-color: var(--basic-background-shade-gray);
	text-align: center;
	margin: 0;
	padding: 0;
	padding-top: 68px;
	padding-bottom: 110px;
}


/*filtres*/
.filter{
	
	padding-top: 56px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom:27px;
  border: none;
}

.filter fieldset:first-child {
  margin-bottom:50px;
}

.filter legend {
  margin-bottom:17px;
  font-weight: bold;
  font-size: 18px;
  line-height:30px;
  text-transform: uppercase;
}

.filter ul {
  padding: 0;
  padding-left:38px;
  margin: 0;
  list-style: none;
  font-size:16px;
  line-height:19px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-bottom:20px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left:-36px;
  top:-1px;
  width:17px;
  height:17px;
  border: 2px solid var(--basic-black);
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top:-2px;
  left:-33px;
  width:20px;
  height:16px;
  opacity: 0.4;
  background-image: url(../img/ok.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left:-40px;
  top:-4px;
  width: 16px;
  height: 16px;
  border: 5px solid #000000;
  border-radius: 50%;
  opacity: 0.4;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top:4px;
  left: -31px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  opacity: 0.4;
}

.filter-button{
	font-weight: 500;
    font-size: 16px;
    line-height: 18px;
	border:0;
	color:var(--basic-black);
	text-transform: uppercase;
	border-radius:3px;
	margin-top:5px;
	padding: 19px 89px 15px 88px;
}

/**/

.range-filter {
	width: 260px;
	margin:0;
	margin-top:38px;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f1f1f1;
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	text-transform: uppercase;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
	font-family: inherit;
	font-size: inherit;
}

/*  ne kroshki*/

.sort {
	display: flex;
	justify-content: space-between;
	width: 760px;
	padding-bottom:30px;
}

.sort-list img{
	padding-left:20px;
}
.sort-list img:nth-child(2n) {
	padding-left: 0;
}
.sort-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 0px;
	margin: 0px;
	list-style: none;
	text-align: center;
	
}

.sort-title {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.sort-item {
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
}

.sort-item a {
	display: block;
	padding: 0;
	padding-top:25px;
	padding-right:35px;
	color: var(--basic-black);
	opacity: 0.3;
}

.sort-item a:hover {
	opacity: 0.6;
}

.sort-item a:focus{
	opacity: 1;
}



/*Каталог*/

.catalog {
	
	padding-top:35px;
}

.catalog-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.catalog-item {
	position:relative;   
	width: 360px;
	min-height: 620px;
	margin-right: 40px;
	margin-bottom: 30px;
	background-color: var(--basic-white);
	color: var(--medium-gray);
}
.block{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:400px;
    text-align: center;
    background: #EEEEEE;
    padding:5px;
    display:none;
}
.catalog-item .block{  /*.catalog-item:hover .block*/
    display:block;
}

.catalog-item img{
	display: block;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item h3 {
	padding: 0;
	margin:0;
	padding-top:10px;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.catalog-item p{
	margin: 0;
	padding:0;
	padding-top:10px;
	padding-bottom:25px;
	color: #666666;
}
.catalog-item h3:hover {
	color: var(--basic-red);
}

.catalog-item h3:active {
	color: var(--basic-black);
	opacity: 0.3;
}


.button-price {
	margin-bottom: 50px;
	padding: 17px 75px 15px 72px;
	border-radius: 3px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border:0;
	
}

.button-price:hover {
	background-color: var(--special-red-activ);
}

.button-price:active {
	background-color: var(--special-red-push);
}


/**/

.filtres {
	outline-offset: -5px;
	outline: 5px solid rgba(255, 0, 255, 0.7);
}

.pagination-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	color:var(--basic-black);
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}

.pagination {
	padding-top:25px;
}

.pagination-item {
	
	padding-right:12px;
}

.pagination-item a {
	border-radius: 3px;
	display: block;
	padding: 17px 20px 15px 20px;
	background-color: var(--basic-background-shade-gray);
}

.pagination-item a:hover {
	background-color: var(--special-grey-hover);
}

.pagination-item a:active {
	background: var(--special-grey-push);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	opacity: 0.3;
}

.pagination-item a:focus {
	background-color: rgba(0, 0, 0, 0.0001);
	border: 3px solid #DBDBDB;
	box-sizing: border-box;
}

.pagination-button {
	width: 260px;
	height: 50px;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
}

.pagination-button a {
	display: block;
	padding: 17px 78px 15px 77px;
	background-color: var(--basic-background-shade-gray);
}

.pagination-button a:hover {
	background-color: var(--special-grey-hover);
}

.pagination-button a:active {
	background: var(--special-grey-push);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	opacity: 0.3;
}

.pagination-button a:focus {
	background-color: rgba(0, 0, 0, 0.0001);
	border: 3px solid #DBDBDB;
	box-sizing: border-box;
}

.button-default {
	color: var(--basic-white);
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	border: none;
}

.main-navigation {
	display: grid;
	grid-template-columns: 1fr 2fr min-content;
	width: 1160px;
	margin: 0 auto;
	padding-top:38px;
	align-items: center;
	font-size: 16px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--basic-background-shade-gray);
}

.center {}

.main-header-logo {
	opacity: 1;
}

.main-header-logo :hover {
	opacity: 1;
}

.main-header-logo :active {
	opacity: 0.1;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	color: var(--basic-black);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	list-style: none;
	margin: 0;
	padding: 0;
	
	
}

.site-navigation li{
	padding: 10px 28px 0px 18px;  /*27*/
}


.site-navigation-current {
  position: relative;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 30px;
  top:53px;
  bottom:0px;
  left: 17px;
  height: 2px;
  background-color: var(--basic-red);
}


.site-navigation a,
.user_nav a {
	display: block;
	
	
}

.user_nav a {
	padding-top: 10px;
	padding-left: 50px;
}

.user_nav .cart-link {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	position: relative;
}

.cart-link::before {
	content: "";
	position: absolute;
	top: 16px;
	left: 12px;
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;

	
}

.site-navigation a:hover {
	color: var(--special-red-activ);
}

.site-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.cart-link:hover {
	color: var(--special-red-activ);
}

.cart-link:active {
	color: var(--basic-black);
	opacity: 0.3;
}


/* слайдер*/

.sliders {

	background-color: var(--basic-background-shade-gray);
}


.sliders-list img{
	display: block;
}

.slider-item {

	padding-bottom:42px;
	font-size: 16px;
	line-height: 24px;
}

.slider-controls {
	position: absolute;
	top:307px;
	bottom:101px;
	left:535px;
	display: flex;
	width: 88px;
	justify-content: space-between;

}

.current:before {  
	content:"";
	position: absolute;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	top:0;
	left:0;
}  
.current:after {  
	content:"";
	position: absolute;
	background-color:var(--basic-white);
	border: 2px solid #C1C1C1;
	box-sizing: border-box;  
	border-radius: 50%;
	width: 8px;
	height: 8px;
	top: 5px;
	left: 5px;


}  

.slider-current {

	display: block;
}
.slider-controls .current {
	
    /*background-color:var(--basic-white);
  	border: 2px solid #C1C1C1;
    box-sizing: border-box;
    */
}
.slider-controls button {
	padding: 0;
	width: 18px;
	height: 18px;
	border: none;
	background-color: #ffffff;
	border-radius: 50%;
	cursor: pointer;

}


.slider-title {
	margin: 0;
	padding: 0;
	padding-bottom:24px;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	padding-top: 9px;

}


.sliders-list {
	position: relative;
	width: 1160px;
	margin:0px auto;
	padding:0;
	list-style: none;
	display: flex;
	align-items: center;

}

.sliders-list li {
	display: flex;
	align-items: center;
}

.p1 {
	color:#283136;
	margin: 0;
	padding: 0;
	padding-top:5px;
	padding-bottom:55px;
}



.button-sliders {
	margin: 0px;
	border-radius:3px;
	padding: 17px 55px 14px 54px;
	text-transform: uppercase;
	text-align: center;
	background: var(--basic-red);
}

.button-sliders:hover {
	background-color: var(--special-red-activ);
}

.button-sliders:active {
	background-color: var(--special-red-push);
	box-shadow: inset 0px 3px 0px;
	color: rgba(0, 1, 1, 0.1);
}


/* сервис */

.services {
	padding-top:68px;
	padding-bottom:90px;

	/*padding-top:89px; 
	padding-bottom:75px;*/
}

.services a {}

.services h3 {
	margin:0;
	padding:0;
	padding-top:19px;
	padding-bottom:16px;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: left;
}

.services-list {
	width: 1160px;
	display: grid;
	text-align: left;
	grid-template-columns: 300px 300px 300px;
	column-gap: 100px;
	margin: 0 auto;
	padding: 0;
	/*padding-top:89px;
	padding-bottom:75px; */
	list-style: none;
}

.services-item {
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.services img {}

.paragrah{
	margin: 0;
	padding-bottom:47px;
}
.button-web {

	padding: 19px 39px 15px 40px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	background-color: var(--basic-red);
}

.button-web:hover {
	background-color: var(--special-red-activ);
}

.button-web:active {
	background-color: var(--special-red-push);
	box-shadow: inset 0px 3px 0px;
	color: rgba(0, 1, 1, 0.1);
}

.button-app {
	padding: 17px 39px 15px 40px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	background-color: var(--basic-green);
}

.button-app:hover {
	background-color: var(--special-green-activ);
}

.button-app:active {
	background-color: var(--special-green-push);
	box-shadow: inset 0px 3px 0px;
	color: rgba(0, 1, 1, 0.1);
}

.button-pitch {
	padding: 17px 39px 15px 40px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 3px;
	background-color: var(--basic-yellow);
}

.button-pitch:hover {
	background-color: var(--special-yellow-activ);
}

.button-pitch:active {
	background-color: var(--special-yellow-push);
	box-shadow: inset 0px 3px 0px;
	color: rgba(0, 1, 1, 0.1);
}


/*about*/

.about {
	display: grid;
	grid-template-columns: 660px 360px;
	/*660px 360px*/
	grid-gap: 140px;
	width: 1160px;
	margin: 0 auto;
	padding: 0;
	padding-top:30px;
	padding-bottom: 68px;
	color: #283136;
	border-top: 2px solid var(--basic-background-shade-gray);
}


.about_2{
	
}
.about-know {
	margin: 0;
	padding: 0;
}

.about-know li{
	padding-left: 32px;
}
.about-know .about-item::before {  
	content: "";
	position: absolute;
	top: 35px;
	left: 0px;
	width: 25px;
	height: 2px;
	border-left:25px solid red;
}

.about-item {
	margin:0;
	padding-top:23px; 
	list-style: none;
	position: relative;
	font-size: 16px;
	line-height: 24px;

}

.about-item-2{

	list-style: none;
}


.about-precision {
	display: flex;
	margin: 0;
	padding: 0;
	padding-top:30px;
}

.about-item-percent {
	display: inline-block;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
	font-weight: bold;
	margin-bottom:8px;
}

.about-item-percent .sup {
	font-size: 26px;
}

.about h4 {
	margin:0;
	padding-top: 40px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
}

.about_2 h4 {
	margin:0;
	padding-top: 40px;
	padding-left:18px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 24px;
}
.about h3 {
	margin:0;
	padding-top:45px; 
	color:var(--basic-black);
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.about p{
	padding-top:33px; 
	margin:0;
	
}

/*company*/

.company {
	border-top: 2px solid var(--basic-background-shade-gray);
	border-bottom: 2px solid var(--basic-background-shade-gray);
	width: 1158px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 67px;

}




.company-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;/*400px 400px 400px;*/
	width: 1160px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.company-item {

	padding-top:10px;
	height: 52px;
}

.line {
	border-right: 2px solid var(--basic-background-shade-gray);
}

.company-content {
	opacity: 0.2;
}

.company-content:hover {
	opacity: 1;
}

.company-content:active {
	opacity: 0.1;
}


/* подвал*/

.main-footer {
	margin: 0 auto;
	padding-top: 80px;

}


 .page-footer{
   padding-top:60px;
 }
.main-footer img {}

.benefit {
	padding-top:10px;
	margin: 0;
	width: 560px;
}

.benefit p{
	margin:0;
	padding-top: 8px;
	color: #444444;
}

.media {
	width: 1160px;
	display: grid;
	grid-template-columns: 260px 560px;
	/*260px 560px*/
	grid-gap: 140px;
	padding-top:58px;
	padding-bottom:70px;

}

.contacts {
	width: 1160px;
	height: 416px;
	position: relative;
}

.contacts img {
	width: 1440px;
	height: 416px;
}

.contacts a {}


/*padding-left для текста?*/

.contacts-info {

	position: absolute;
	top: 54px;
	width: 319px;
	height: 308px;
	font-size: 16px;
	line-height: 18px;
	color: var(--medium-gray);
	background-color: var(--basic-white);
}

.contacts-info h3 {
	margin: 0;
	padding: 50px 76px 23px 50px;
	font-size: 18px;
	line-height: 30px;
	color: var(--basic-black);
}

.address{
	padding: 0px 50px 15px 50px;
	margin: 0;
}



.address_p{
	margin: 0px;
	padding-bottom:55px;

}


.address_a{
	padding: 0px 50px 0px 50px;
	color: var(--medium-gray);
}


.span {

	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color: var(--basic-black);
}

.button-contacts {

	padding: 17px 44px 15px 44px;
	margin-left: 50px;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
	text-transform: uppercase;
}

.button-contacts:hover {
	background-color: var(--special-red-activ);
}

.button-contacts:active {
	background-color: var(--special-red-push);
}

.footer-list {
	/*еще не загружала никаких иконок*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	color: var(--medium-gray);
}

.footer-social {
	/*margin: 0 auto;
	padding: 0;
	width: 260px;*/
}


/* Social button */

.social-button a {}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 50%;
	width: 81px;
	height: 81px;
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}


/*.puth:hover{
 opacity: 0.3;
}
*/

.social-button:hover {
	background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-button:focus {
	opacity: 0.3;
	background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
}

.modal {
	
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin:auto;
	color: var(--basic-black);
	background: var(--basic-white);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
	
}


/* Modal */

.modal-login {
	display: none;
	position: fixed;
	top: 120px;
	bottom: auto;
	width: 960px;
	padding: 80px 100px;
	margin:0 auto;
	color: var(--basic-black);
	background: var(--basic-white);
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-login h2 {
	margin: 0;
	margin-bottom: 35px;
	font-size: 45px;
	line-height: 53px;
}

.modal-description {
	font-weight: bold;
	margin: 0;
}

.modal-close {
	position: absolute;
	top: 90px;
	right: 90px;
	width: 21px;
	height: 21px;
	background-color: var(--basic-white);
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: var(--basic-red);
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.user {
	border: 2px solid var(--special-modal-white);
	box-sizing: border-box;
	border-radius: 3px;
}

.user:hover {
	border: 2px solid var(--special-modal-grey);
	box-sizing: border-box;
	border-radius: 3px;
}

.text {
	width: 760px;
	height: 118px;
}

.modal-container {
	width: 360px;
	padding-right: 113px;
}

.modal-container {
	margin-bottom: 30px;
	display: inline-block;
	margin-right: -5px;
}

.modal-container input {
	height: 50px;
	width: 80%;
}


.modal-send {
	border: 0;
	padding: 17px 83px;
	text-transform: uppercase;
	text-align: center;
	background: var(--basic-red);
	color: var(--basic-white);
	border-radius: 3px;
}

.letter {
	display: flex;
	flex-direction: column;
	margin-bottom: 47px;
}