/* Variables */

:root {
	--basic-black: #000000;
	--basic-gray:#A6A6A6;
	--background-gray:#888888;
	--basic-white: #FFFFFF;
	--basic-red:#FB565A;
	--basic-yellow:#EFC849;
	--basic-green:#00CA74;;
	--basic-dark-gray:#444444;
	--gradient: 0deg, #E1E1E1, #E1E1E1;
	--basic-light-gray:#283136;
	--basic-background-shade-gray:#EEEEEE;


	--special-red-activ:#E74246;
	--special-red-push:#D7373B;

	--special-yellow-activ:#EAB534;
	--special-yellow-push:#E5A722;

    --special-green-activ:#00BC6C;
    --special-green-push:#00AA62;


}

body {
	min-width: 1440px;
    margin: 0;
    padding: 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color:var(---basic-black);
	background-color:var(--background-gray)
	text-transform: uppercase;
	
}

.page a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	color:var(--basic-black);
	background-color:var(--basic-background-shade-gray);
}

.site-navigation {
	list-style:none;
}
.site-navigation-current a:not([href]) {
  background-color: var(--basic-background-shade-gray);
}

.site-navigation a,
.cart-link {
	color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link a:hover,
.cart-link a:focus {
	background-color: var(--basic-background-shade-gray);
}



.sliders {
}


.slider-item{
	font-size: 16px;
    line-height: 24px;

}
.slider-item h1{
	font-weight: 500;
    font-size: 55px;
    line-height: 55px;
}
.sliders-list{
	list-style: none;
	display: flex;
    align-items: center;


}

.sliders-list img {

}


<!-- У меня никак не получается сделать все по центру-->
.services {
	list-style: none;
	display: flex;
	align-items: center;
}

.services h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}


.services-item {
	font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    
	
}

.services img {
	
}

.button-services {
	
	<!-- У всех разные цвета,
	то есть по каждую кнопку свой класс?-->
}

.about {
	display: flex;
	align-items: center;

}

.about-item {

	font-size: 16px;
	line-height: 24px;
	list-style: none;
}

.about h4 {
	font-size: 16px;
	line-height: 24px;
}

.about h3 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
}

.company{


}

.company-content{

}

.main-footer{

}

.contacts{

}

.footer-social{

}